.App {
  text-align: center;
  background-color: blueviolet;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.quiz-container {
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  
}

.question-section {
  margin-bottom: 20px;
}

.answer-section button {
  margin: 7px;
  padding: 10px;
  font-size: 20px;
}

.score-section {
  font-size: 24px;
  margin-top: 20px;
  background-color: rgb(235, 90, 136);
}